body {
    background-color: black;
    color: lightgray;
    font-family: Courier New;
    text-align: center;
}

h3 {
    font-size: 25px;
}

img {
    border-radius: 0 50px 0 50px;
}

a {
    color: lightgray;
    display: block;
    background-color: black;
    margin: 0 125px 0 125px;
    padding: 2px 0 2px 0;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

#name {
    font-size: 7px;
}
